@import "tailwindcss";

@theme {
  --color-blue: #213089;
  --color-orange: #FF9A5D;
  --color-green: #2A5F00;
  --color-warm-gray: #D6D6D6;

  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Oswald", system-ui, sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-sans);
}
